:root {
  --color1: #978769;
  --scale1: 1.3;
}

body {
	margin: 0;
	background: #c1b9ab;
	font-family: monospace;
}

* {
  font-family: inherit;
}

.c0 {
	color: #870000;
	font-weight: bold;
	font-size: calc(var(--scale1) * 1em);
}

.c1 {
	/* HexWorld board color */
	fill: rgb(214, 175, 114);
}
