body {
	margin: 0;
	background: #c1b9ab;
	font-family: monospace;
}

* {
  font-family: inherit;
}

.c0 {
	color: #870000;
	font-weight: bold;
}

.c1 {
	/* HexWorld board color */
	fill: rgb(214, 175, 114);
}
